plots/
data/
code/build/
.DS_Store
.Rhistory
*.aux
*.log
*.synctex.gz
*.pyc
.idea/
.idea/*

# Ignore all emacs temp files and backup files
**/\#*\#
**~

# Ignore all object and shared object files
**.o
**.so
python/cygdual.c

# Ignore this executable
c/test_gdual


code/*.pyc
code/*.cpp
code/*.so
*.stats
.Rproj.user

**/build
c/test_gdual.dSYM/Contents/Resources/DWARF/test_gdual
python/foo.txt
*.pickle
c/test_gdual.dSYM/Contents/Resources/DWARF/test_gdual
