plots/
data/
code/build/
.DS_Store
.Rhistory
*.aux
*.log
*.synctex.gz
*.pyc
.idea/
.idea/*

# Ignore all emacs temp files and backup files
**/\#*\#
**~

# Ignore all object and shared object files
**.o
**.so

# Ignore this executable
c/test_gdual


code/*.pyc
code/*.cpp
code/*.so
*.stats
.Rproj.user

**/build